h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
  line-height: 0.9;
  letter-spacing: 0;
}

h1 {
  font-size: 5rem;

  @include media-breakpoint-up(xxl) {
    font-size: 9rem;
  }
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}