@import 'functions';
@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'reboot';
@import 'typography';
@import 'buttons';

.red {
  color: $red;
}

.d-inline-block {
  display: inline-block;
}

::selection {
  background: $yellow;
  color: $green;
}